#datetime-picker{
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-color: #2e2f42;
    cursor: pointer;
}
#datetime-picker:disabled{
    background: #fafafa;
}
button{
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer;
    }
button:hover{
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #6c8cff;
    color: #fff;
    }
button:disabled{
    background: #cfcfcf;
    color: #989898;
}    

.timer{
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap: 24px;
    width: 346px;
    height: 72px;
   }
.field{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-transform:uppercase;
    justify-content: center;
}
.value{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}